Tipos comuns

Inteiro / Integer

In [1]:
#inteiro

idade = 23
temperatura = -4
numeroGrande = 123456789

Float / Decimal

In [3]:
#float

peso = 70.3

peso

70.3

String / Texto

In [5]:
#equivalente
nome = "Clayver Correa"

numeroA = 1
numeroB = "1"

numeroA == numeroB

False

Booleano

True e False

In [8]:
#exemplo de uma variável booleana
linguagem_1 = "Python"
linguagem_2 = "Java"

linguagem_1 == linguagem_2

verdadeiro = True
verdadeiro

#exemplo de variável booleana
falso = False
falso

False

Verificando tipo de dados com Python

In [12]:
#exemplo de variáveis de diferentes tipos
type(linguagem_2)
type(falso)
type(numeroA)

#verificando os tipos
#exemplo de variáveis de diferentes tipos

inteiro = 23
flutuante = 3.14
texto = "ola,mundo!"
lista = [1,2,3]
tupla = (1,3)
dicionario = {'a': 1, 'b': 2}
booleano = True

#verificando os tipos
print(type(inteiro))
print(type(flutuante))
print(type(texto))
print(type(lista))
print(type(tupla))
print(type(dicionario))
print(type(booleano))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

Formatando strings

Formato Strings Utilizando %

In [11]:
marca = "Iphone 15 Pro Max"
lancamento = 2023
valor = 1299
taxaDolar = 4.95

#"O " + marca + "foi lancado em " + str(lancamento)

"O %s foi lancado em %d e custa $ %d.Mas a taxa de conversao real para dolar e %.2f real para 1 dolar"%(marca, lancamento, valor, taxaDolar)

'O Iphone 15 Pro Max foi lancado em 2023 e custa $ 1299.Mas a taxa de conversao real para dolar e 4.95 real para 1 dolar'

Formatando Strings Utilizando o Format()

In [16]:
marca = "Iphone 15 Pro Max"
lancamento = 2023
valor = 1299
taxaDolar = 4.95

"O {0} foi lancado em {1} e custa ${2}.Mas a taxa de conversao real para dolar e {3} real para 1 dolar".format(marca, lancamento, valor, taxaDolar)

'O Iphone 15 Pro Max foi lancado em 2023 e custa $1299.Mas a taxa de conversao real para dolar e 4.95 real para 1 dolar'

In [17]:
f"O {marca} foi lancado em {lancamento} e custa ${valor}.Mas a taxa de conversao real para dolar e {taxaDolar} real para 1 dolar"

'O Iphone 15 Pro Max foi lancado em 2023 e custa $1299.Mas a taxa de conversao real para dolar e 4.95 real para 1 dolar'

Convertendo Tipo de Dados

In [3]:
numero = int('2')
str(numero)

'2'

In [4]:
type(numero)

int

Listas

In [31]:
#declarando uma lista

minhaLista = [1, 2, 3, 4]
minhaLista

nomeUsuario = ["Clayver","Audileia","Glenda"]
idadeUsuario = [23,50,27]
nomeUsuario,idadeUsuario

(['Clayver', 'Audileia', 'Glenda'], [23, 50, 27])

In [32]:
#adicionando itens na lista 
nomeUsuario.append("Rodrigo")
idadeUsuario.append(29)

nomeUsuario

['Clayver', 'Audileia', 'Glenda', 'Rodrigo']

In [33]:
nomeUsuario.remove("Clayver")
nomeUsuario

['Audileia', 'Glenda', 'Rodrigo']

In [35]:
nomeUsuario,idadeUsuario

(['Audileia', 'Glenda', 'Rodrigo'], [23, 50, 27, 29])

In [36]:
nomeUsuario.append("Clayver")

nomeUsuario

['Audileia', 'Glenda', 'Rodrigo', 'Clayver']

In [37]:
nomeUsuario,idadeUsuario

(['Audileia', 'Glenda', 'Rodrigo', 'Clayver'], [23, 50, 27, 29])

In [40]:
#encontrando valor por indice

idadeAlunos = [50, 30, 32, 19, 23, 51, 22, 18, 42, 27, 48, 49]

idadeAlunos[11]

49

In [43]:
#da esquerda(valor positivo)
idadeAlunos[3]

#da direita(valor negativo)
idadeAlunos[-3]

27

In [47]:
idadeAlunos = [50, 30, 32, 19, 23, 51, 22, 18, 42, 27, 48, 49]

#da esquerda(valor positivo)
idadeAlunos[:5]

#da direita(valor negativo)
idadeAlunos[-4:]

[42, 27, 48, 49]

In [48]:
idadeAlunos = [50, 30, 32, 19, 23, 51, 22, 18, 42, 27, 48, 49]

#buscando um intervalo de itens
#idadeAlunos[2:5] 2 ao 5-1

idadeAlunos[4:10]

[23, 51, 22, 18, 42, 27]

In [49]:
#acessando intervalo
idadeAlunos = [50, 30, 32, 19, 23, 51, 22, 18, 42, 27, 48, 49]

idadeAlunos[0:11:2]

[50, 32, 23, 22, 42, 48]

In [50]:
#alterando valores
idadeAlunos = [50, 30, 32, 19, 23, 51, 22, 18, 42, 27, 48, 49]

idadeAlunos[0] = 32
idadeAlunos

[32, 30, 32, 19, 23, 51, 22, 18, 42, 27, 48, 49]

Tuplas

In [54]:
mesesDoAno = ("Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez")

mesesDoAno

('Jan',
 'Fev',
 'Mar',
 'Abr',
 'Mai',
 'Jun',
 'Jul',
 'Ago',
 'Set',
 'Out',
 'Nov',
 'Dez')

In [56]:
#acessando valores

mesesDoAno[3:6]

('Abr', 'Mai', 'Jun')

Dicionarios

In [1]:
meuDicionario = {"nome":"joão","idade":30}

meuDicionario

{'nome': 'joão', 'idade': 30}

In [2]:
type(meuDicionario)

dict

In [8]:
#criando um dicionario com o nome e idade de usuarios

usuario = {
    "Huguinho": 18,
    "Zezinho" : 19,
    "Luizinho": 20
}

usuario

{'Huguinho': 18, 'Zezinho': 19, 'Luizinho': 20}

In [9]:
#imprimindo um item
usuario["Luizinho"]

20

In [11]:
#alterando item
usuario["Luizinho"] = 22
usuario

{'Huguinho': 18, 'Zezinho': 19, 'Luizinho': 22}

Criando uma lista de dicionarios

In [19]:
listaUsuario = [
    {"nome":"Huguinho","idade":18},
    {"nome":"Zezinho","idade":19},
    {"nome":"Luizinho","idade":22},
    {"nome":"Jorginho","idade":37},
]

listaUsuario

[{'nome': 'Huguinho', 'idade': 18},
 {'nome': 'Zezinho', 'idade': 19},
 {'nome': 'Luizinho', 'idade': 22},
 {'nome': 'Jorginho', 'idade': 37}]

In [20]:
import pandas as pd

In [23]:
df = pd.DataFrame(listaUsuario)
df

       nome  idade
0  Huguinho     18
1   Zezinho     19
2  Luizinho     22
3  Jorginho     37

In [26]:
df.head(3)

       nome  idade
0  Huguinho     18
1   Zezinho     19
2  Luizinho     22